<footer>
  <div class="top">
    <img src="/assets/logo2.png">
    <p>Mejora tu entorno.
Servicios de recursos humanos.</p>
  </div>
  <div class="hr"></div>
  <div class="mid">
    <div class="about">
      <h3>Acerca de nosotros</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit est, ad tenetur expedita, minus cupiditate aspernatur eaque magnam quia veritatis maiores sequi recusandae, incidunt repellat ab fugit quos quae. Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="social">
      <h3>Comunidad</h3>
      <a>LinkedIn</a>
      <a>Facebook</a>
      <a>Twitter</a>
      <a>Instagram</a>
    </div>
    <div class="legal">
      <h3>Legal</h3>
      <a>Política de privacidad</a>
      <a>Licencias</a>
      <a>Support</a>
      <a>Términos y condiciones</a>
    </div>
    <div class="contact">
      <h3>Contacto</h3>
      <p>+54 123456789</p>
      <p>uvisupport@mail.com</p>
    </div>
  </div>
  <div class="hr"></div>
  <div class="bottom">
    <p>© 2023 UVI - All rights reserved.</p>
    <br>
    <p>Developer: <a href="https://linkedin.com/in/dionel-martinez-4b376b221/">Dionel Cristian Martinez</a></p>
  </div>
</footer>
