<h1 class="review-title">Reseñas</h1>
<p class="review-subtitle">Nuestros usuarios reportan una satisfaccion del 92% luego de utilizar nuestros servicios.</p>

<div class="swiper-container">
  <swiper [config]="swiperConfig" class="mySwiper">

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user1.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Mark Thompson</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStarHalfStroke" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user2.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Sara Sanchez</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStarHalfStroke" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user3.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Javier Sosa</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user4.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Hector Hernandez</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStarHalfStroke" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user5.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Sophia Smith</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user6.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Laura Martinez</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStarHalfStroke" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user7.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Nikola Peters</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStarHalfStroke" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user8.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Alexandro Lopez</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        <div class="content">
          <div class="pic">
            <img class="" src="/assets/user9.jpg">
          </div>

          <div class="comment">
            <p class="description"> Growth of data is exponential and our ability to get true insight that matter was challenging with classic, traditional Bi tools. Vertix allow us to unserstand what is driving exceptions so we can take action Growth of data our ability to get true insight that matter was challenging with classic.</p>
          </div>

          <hr>

          <div class="card-bottoms">
            <h4 class="username">Julia Jimenez</h4>
            <div class="rating">
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
              <fa-icon [icon]="faStar" size="2x"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </swiper>
</div>
