<div class="nav">
  <input type="checkbox" id="nav-check" (change)="onNavCheckClick()">
  <div class="nav-header">
    <div class="nav-title">
      <img src="/assets/logo2.png">
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a (click)="onScrollIntoView('reviews')">Reseñas</a>
    <a (click)="onScrollIntoView('plans')">Servicios</a>
    <a (click)="onScrollIntoView('form')">Contrata</a>
    <a (click)="onScrollIntoView('footer')">Acerca de</a>
  </div>
</div>
